@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

body {
  font-family: "Merriweather", sans-serif;
  margin: auto;
}

li {
  text-decoration: none;
}

.headerImage {
  margin-right:110em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

header {
  background-position: top left;
  align-content: center;
  vertical-align: sub;
}

h2 {
  margin: 10px auto;
  padding: 15px;
  max-width: 100%;
}

main h2 {
  text-align: center;
}

header h1 {
  margin-top: -2em;
  padding-bottom: 0.5em;
  font-size: 40px;
}
header h2 {
  margin-top: -2em;
  font-size: 25px;
}

.content {
  padding-left:1em;
  padding-right:1em;
  display: block;
  margin: 10px auto;
  border: 1px solid black;
  padding: 15px;
  text-align:center;
  background-color: beige;
  max-width: 100%;
}

.herodiv {
  margin: 10px auto;
  position: relative;
  max-width: 100%;
  max-height: 90%;
}


.stats {
  position: absolute;
  top: 10px;
  right:0;
  left: 30em;
  background: radial-gradient(#eeeeee, beige);
  border: 1px solid black;
  padding: 1em;
  box-shadow: 0 0 30px #333333;
  width: 250px;
  max-height: 50%;
  font-size: 10px;
  text-align: left;
}

.stats span {
  font-style: italic;
  max-width: 100%;
  max-height: 100%;
}

picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1em #333333;
  max-width: 100%;
  max-height: 120%;
}

header,
footer {
  background-color: skyblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  font-family: "Lato", sans-serif;
}

nav {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 162, 255);
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75em;
  text-decoration: none;
  font-size: 0.95em;
  background: linear-gradient(90deg, transparent, gold, transparent) bottom /
    var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}
.navigation {
  max-width: 100%;
  list-style: none;
  padding: 0;
}
.navigation li {
  display: none;
}
.responsive li {
  display: block;
}
.navigation li:first-child {
  display: block;
}

.navigation a {
  background-color: #000080;
  display: block;
  padding: 0.75em;
  text-align: left;
  text-decoration: none;
  color: white;
  font-family: "League Gothic", sans-serif;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1em, 2vmin, 1.5em);
}

.navigation a.ham::before {
  content: "≡ ";
}

.navigation a:hover {
  color: white;
  background-color: black;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  flex: 1;
  background-color: #f5cf87;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  text-align: center;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #333333;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  background-color: black;
  color: white;
}

.flex,
.grid {
  border-right: 1px solid #333333;
}

.label {
  visibility: hidden;
  position: absolute;
  color: yellow;
  top: 10px;
  right: 30px;
}
    
.label:after {
  visibility: Visible;
  position: absolute;
  color: yellow;
  top: 10px;
  right: 30px;
  content: "Large";
}
