@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

@media only screen and (max-width: 56em) {
  main .story .story-image {
    display: block;
    margin: 10px auto;
    padding: 15px;
    color: black;
    max-width: 500px;
  }

  .content {
    background-color: rgb(255, 255, 255);
    max-width: 650px;
  }

  nav {
    margin: 0 auto;
    background-color: rgb(0, 162, 255);
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }

  .responsive li {
    display: block;
  }

  .navigation li {
    display: none;
  }

  .navigation li:first-child {
    display: block;
  }

  .navigation a {
    background-color: #000080;
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1em, 2vmin, 1.5em);
  }

  .navigation a:hover {
    color: white;
    background-color: black;
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
  }

  .flex,
  .grid {
    border-right: 1px solid #333333;
  }

  .col-head {
    font-weight: 700;
    font-size: 1em;
    background-color: black;
    color: white;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333333;
    text-align: center;
  }

  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8em;
    text-align: center;
  }

  .herodiv {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
    max-height: 90%;
  }

  .stats {
    position: absolute;
    top: 10px;
    right: 450px;
    left: 10px;
    background: radial-gradient(#eeeeee, beige);
    border: 1px solid black;
    padding: 1em;
    box-shadow: 0 0 30px #333333;
    width: 100%;
    max-height: 50%;
    font-size: 10px;
    text-align: left;
  }

  .stats span {
    font-style: italic;
    font-weight: 700;
    max-width: 100%;
    max-height: 100%;
  }

  picture img {
    box-shadow: 0 0 1em #333333;
    max-width: 100%;
    max-height: 120%;
  }
  
  .label {
    visibility: hidden;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
  }
    
  .label:after {
    visibility: Visible;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
    content: "Medium";
  }
}
