main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

picture img {
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: blur(0em);
  transition: filter 0.5s;
}

picture img[data-src] {
  filter: blur(0.5em);
}
