@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

header {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

h2 {
  color: #536878;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 30px;
  background: linear-gradient(90deg, transparent, gold, transparent) bottom /
    var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  font-size: 25px;
  margin-bottom: 1em;
  justify-content: left;
  border: 1px solid black;
  background-color: beige;
  max-width: 650px;
}

nav {
  max-width: 100%;
  background-color: #000080;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.navigation {
  list-style: none;
  font-family: "League Gothic", sans-serif;
  font-weight: 50;
  padding: 0;
}
.navigation li {
  display: none;
}
.responsive li {
  display: block;
}
.navigation li:first-child {
  display: block;
}

.navigation a {
  display: block;
  padding: 0.75em;
  text-align: left;
  text-decoration: none;
  color: lightgray;
  font-weight: 700;
}

.navigation a.ham::before {
  content: "≡ ";
}

.navigation a:hover {
  color: white;
  background-color: black;
}

header,
footer {
  font-family: "Lato", sans-serif;
  background-color: skyblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main,
footer {
  max-width: 100%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

main {
  font-size: 25px;
  font-family: "Merriweather", sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  font-size: 25px;
  width: 100%;
  height: 2em;
}
