@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

header {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  align-items: center;
}

#currentdate {
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: #0039a9;
  width: 98%;
  text-align: center;
}

main {
  max-width: 100%;
  display: flex;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.Main2, .MainJoin, .DirectMain {
  margin:auto;
  max-width: 99%;
  display: grid;
  grid-template-columns: 1fr;
}

.Box1 {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  height: 600px;
  margin-left: -10em;
}

.Box2 {
  background: lightgray;
  font-size: 20px;
  border: 1px solid black;
  margin: 10px;
  width: 600px;
  height: 400px;
}

.Box2 #overlay {
  position: absolute;
  color: red;
  top: 630px;
  right: 650px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

.Box3 {
  background: lightgray;
  font-size: 20px;
  margin: 10px;
  width: 200px;
  height: 600px;
}

.Box4 {
  margin-top: -400px;
}

.Box6 {
  background: lightgray;
  font-size: 20px;
  border: 1px solid black;
  margin: 10px;
  width: 600px;
  height: 192px;
  margin-left: -832px;
  margin-top: 422px;
}

.Actions {
  background: lightgray;
  border: 1px solid black;
  margin: 13px auto;
  width: 200px;
  height: 190px;
}

.weather {
  border: 1px solid black;
  margin: 13px auto;
  width: 100%;
  height: 190px;
  font-size: 15px;
  color: white;
  background-color: #000080;
}

hr {
  width: 30%;
  margin-top: -10px;
}

footer hr {
  width: 95%;
}

.data hr {
  width: 95%;
  margin-top:15px;
}

h2 {
  margin: 10px auto;
  padding: 15px;
  max-width: 100%;
}

header h2 {
  margin-top: -2em;
  font-size: 25px;
}

.data h2 {
  font-size:30px;
}

.weather hr {
  max-width: 90%;
}

.Spotlight {
  background: lightgray;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

nav {
  max-width: 100%;
  background-color: #800080;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

li {
  text-decoration: none;
}

.navigation {
  list-style: none;
  font-family: "League Gothic", sans-serif;
  font-weight: 50;
  padding: 0;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.navigation li:first-child {
  display: block;
}

.navigation a {
  display: block;
  padding: 0.35rem;
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.navigation a.ham::before {
  content: "≡ ";
}

.navigation a:hover {
  color: white;
  background-color: #000080;
}

header,
footer {
  max-width: 100%;
  background-color: #000080;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

footer {
  font-family: "League Gothic", sans-serif;
  font-size: 20px;
}

.headerImage {
  margin-right: 59em;
  margin-top: 0.65em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.social {
  margin-left: 58em;
  margin-top: -2.7em;
}

header h1 {
  margin-top: -2.5em;
  padding-bottom: 0.5em;
  font-size: 40px;
}

footer h3 {
  font-size: 25px;
}

#contact_resources {
  background-color: #000080;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  text-align: left;
  border:none;
}

#contact_resources:hover {
  box-shadow:none;
}

iframe {
  margin-right: 28em;
  margin-top: 0.75em;
}

.footer_info {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}


figure img {
  padding: 15px;
  display: block;
  background-color: skyblue;
  margin-left: auto;
  margin-right: auto;
  filter: blur(0em);
  transition: filter 0.5s;
}

figure img[data-src] {
  filter: blur(0.5em);
}

.container {
  background-color: #000080;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main figure {
  box-shadow: 0 0 10px #777777;
}

main figure:hover {
  box-shadow: 0 0 50px #333333;
}

figcaption {
  font-weight:800;
  color: black;
  background-color: white;
}

form {
  text-align: center;
  width: 75%;
  margin: 10px auto;
  border-radius: 25px;
}

fieldset {
  color: white;
  background-color: #000080;
  border-radius: 15px;
}

#additional {
  width: 98%;
  margin-top: 5px;
}

.data a:hover {
  color:orange;
}

.rButton {
  font-family: "League Gothic", sans-serif;
  font-size: 25px;
  width: 5em;
  height: 2.5em;
  margin: 10px auto;
  color: white;
  background-color: #800080;
}

#types {
  text-align: center;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 1em;
}

section {
  color: white;
  background-color: #000080;
  margin: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

section:hover {
  box-shadow: 0px 0px 50px #333333;
}

section img {
  margin-bottom: 20px;
  box-shadow: 0px 0px 30px #333333;
  max-width: 90%;
}

@media only screen and (min-width: 67.5em) {
  .Box2 img {
    position: relative;
    width: 600px;
    height: 400px;
  }
}
