@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

@media only screen and (max-width: 32.5em) {
  body {
    font-family: "Merriweather", sans-serif;
    margin: auto;
  }

  .content {
    background-color: beige;
  }
  
  .content1 {
    background-color: beige;
  }

  header img {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }

  picture img {
    box-shadow: 0 0 1em #333333;
    max-width: 100%;
  }

  .content img {
    height: 50%;
  }

  nav {
    margin: 0 auto;
    background-color: rgb(0, 162, 255);
  }

  .navigation {
    list-style: none;
    padding: 0;
  }

  .navigation li {
    display: none;
  }

  .responsive li {
    display: block;
  }

  .navigation li:first-child {
    display: block;
  }

  .navigation a {
    background-color: #000080;
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1em, 2vmin, 1.5em);
  }

  .navigation a:hover {
    color: white;
    background-color: black;
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-col {
    flex: auto;
    background-color: #f5cf87;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    text-align: center;
  }

  .flex,
  .grid {
    border-right: 1px solid #333333;
  }

  .col-head {
    font-weight: 700;
    font-size: 1em;
    background-color: black;
    color: white;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333333;
    text-align: center;
  }

  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8em;
    text-align: center;
  }

  .stats {
    position: static;
  }
  
  .label {
    visibility: hidden;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
  }
    
  .label:after {
    visibility: Visible;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
    content: "Small";
  }
  
  #stormdate {
    margin-bottom:0.5em;
  }

  #additional {
    margin-top:0.5em;
  }

  .sbutton {
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
}
