@media only screen and (max-width: 32.5em) {
  body {
    text-align: center;
    margin: auto;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
  }

  iframe {
    height: 75%;
    width: 85%;
    margin: auto;
  }

  header img {
    width: 20%;
    height: 20%;
    aspect-ratio: auto;
    margin: auto;
  }

  .Box1,
  .Box3,
  .Box4,
  .Box6 {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Box2 {
    margin: auto;
    height: 200px;
    margin-top: 85px;
  }

  .Box2 #overlay {
    position: absolute;
    color: red;
    top: 795px;
    right: 90px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }

  .Box6 {
    height: auto;
  }

  .Actions {
    height: auto;
    width: 100%;
    margin-left: -1rem;
  }

  .Spotlight {
    height: auto;
    width: 100%;
  }
}
