@media only screen and (max-width: 32.5em) {
  
  header, .FreshMain, footer {
    overflow: hidden;
  }
  
  #cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .headerImage {
    margin: auto;
  }
  
  .FreshImg {
    width: 75%;
    margin:auto auto auto -1px;
  }
  
  header h1 {
    margin-top: 0.25em;
  }
  
  .social {
    margin: auto -60px auto auto;
  }
  
  .social img {
    margin-top: 10px;
    width: 15%;
  }
  
  .data {
    margin: auto;
  }
  
  .action {
    position: absolute;
    top: 375px;
    left: 20px;
    width: 100px;
    height: 20px;
  }
  
   .FreshH2 {
    font-size: 15px;
    margin-left: 80px;
  }
  
  .FreshHR {
    margin-left: 100px;
    width: 40%;
  }
  
  .action h2 {
    margin-top: -10px;
    padding: 0px;
    font-size: 10px;
  }
  
  .action button {
    position: absolute;
    top: 130px;
    left: 35px;
    height: 20px;
    font-size: 10px;
    margin-top: -100px;
  }
  
  form {
    margin: auto auto auto 30px;
    max-width: 65%;
  }
  
  .contents {
    width:90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .contents h2 {
    margin-top: 15px;
  }
  
  .contents p {
    margin: 10px auto;
  }
  
  .contents img {
    margin: 10px auto;
    width: 300px;
    height: 200px;
  }
  
  #cards img {
    margin: auto;
  }
  
  #additional {
    width: 225px;
  }
  
  iframe {
    width: 150px;
  }
  
  #contact_info {
    margin-left: -40px;
    font-size: 10px;
  }
  
  #contact_info h2 {
    font-size: 15px;
  }
  
  .footer_info p, .footer_info2 p {
    margin: auto;
    font-size: 10px;
  }
}
