@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

body {
  font-family: "Anybody", sans-serif;
  text-align: center;
  background-color: #faf0e6;
  margin: auto;
}

li {
  text-decoration: none;
}

.headerImage {
  max-width: 100px;
  border-radius: 50px;
  margin-top: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

header img {
  margin-right: 110em;
}

main img {
  margin-bottom: 3em;
  width: 100%;
  max-width: 100%;
}

.MainMap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.MainMap div {
  margin: 25px auto;
}

.wireframe {
  max-width: 98%;
  width: auto;
  height: 420px;
  border: 2px solid black;
}

.content1 img {
  margin: auto;
  max-width: 50px;
}

hr {
  line-height: 3px;
  border-bottom: 0px;
  width: 98%;
}

h3 {
  text-align: center;
}

main hr {
  width: 30%;
  margin-top: -0.75em;
  margin-bottom: 0.75em;
}

main h4 {
  text-align: center;
}

#cards h4 {
  margin-left: 10px;
  margin-right: 5px;
}

form {
  text-align: center;
  width: 75%;
  margin: 10px auto;
  border-radius: 25px;
}

fieldset {
  background: radial-gradient(limegreen, #2e742b);
  color: white;
  font-weight: bold;
  margin: auto;
  border-radius: 15px;
}

label input,
select,
textarea {
  background-color: white;
}

main a {
  margin: 0 auto;
}

.mainButton {
  font-family: "Anybody", sans-serif;
  font-size: 15px;
  width: 15em;
  height: 5em;
  margin: 10px auto;
}

#rButton {
  text-align: center;
  font-family: "Anybody", sans-serif;
  font-size: 20px;
  width: 7em;
  height: 3em;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  margin-bottom: 3em;
  border-radius: 50px;
  background: #f28500;
}

#rButton:hover {
  cursor: pointer;
  color: white;
  background: radial-gradient(purple, #c585f7);
}

h2 {
  font-size: 25px;
  margin: 10px auto;
  padding: 15px;
  max-width: 100%;
}

header h1 {
  font-family: "Pacifico", sans-serif;
  font-weight: 100;
  margin-top: -2.5em;
  padding-bottom: 0.5em;
  font-size: 50px;
}

header h2 {
  font-family: "League Gothic", sans-serif;
  font-weight: 100;
  margin-top: -2.5em;
  margin-bottom: auto;
  font-size: 30px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background: linear-gradient(90deg, transparent, #ca7df9, transparent) bottom /
    var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}

.content {
  text-align: center;
  margin: 15px auto;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: #eeeeee;
  max-width: 100%;
}

.content2 {
  text-align: center;
  margin: 15px auto;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: #eeeeee;
  width: 50%;
}

.content h2 {
  background-color: white;
}

stats p:after {
  content: "| ";
}

main p {
  font-size: 12px;
}

td p, .content p {
  font-size: 15px;
}

.content li {
  text-align: left;
  font-size: 15px;
}

.content hr {
  width: 95%;
}

.contents {
  text-align: center;
  color: lavenderblush;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
  max-width: 98%;
  margin-top: 10px;
  padding: 15px;
  background-color: #f28500;
  border: 2px solid purple;
}

.contents img {
  border-radius: 25px;
  box-shadow: 0px 0px 20px #333333;
  width: 600px;
  height: 400px;
}

.contents h2 {
  margin-top: -25px;
  grid-column: 2;
  column-span: all;
  text-align: center;
  font-size: 25px;
}

.contents p {
  grid-column: 2;
  column-span: all;
  text-align: center;
  font-size: 18px;
}

.contents span + span {
  margin-left: 20px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  height: 95%;
  margin: 0 auto;
}

.flex-col {
  flex: 1;
  background-color: limegreen;
  border: 1px solid black;
  text-align: center;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #333333;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  background-color: #2e742b;
  color: white;
}

.data {
  display: grid;
  margin-top: -8px;
  font-weight: 600;
  font-size: 18px;
  grid-template-columns: 1fr;
}

.weather {
  margin: 5px auto;
  color: lavenderblush;
  background: radial-gradient(purple, #c585f7);
  border: 1px solid black;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.weather h2 {
  font-size: 25px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 15px;
}

.cards section {
  background-color: skyblue;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 25px;
}

.cards section h2 {
  font-size: 30px;
}

.social img {
  border-radius: 50px;
}

.weather div img {
  width: 85%;
  margin-top: -1em;
  margin-left: 15px;
  margin-bottom: auto;
}

.social img:hover {
  cursor: pointer;
  margin-top: -5px;
  border: 2px solid #c585f7;
  box-shadow: 0px 0px 20px #333333;
}

.stats {
  display: hidden;
}

.weather hr {
  width: 95%;
  margin-bottom: 1em;
}

.weatherhr {
  width: 190px;
}

.weatherhr2 {
  width: 300px;
}

#cards hr {
  width: 95%;
}

#cards h3 {
  margin-top: 2em;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Boogaloo", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.footer_info a, .footer_info2 a {
  color: skyblue;
  text-decoration:none;
}

.action button a {
  text-decoration: none;
}

.footer_info a:hover, .footer_info2 a:hover {
  color: limegreen;
}

header {
  max-width: 100%;
  background-color: #c585f7;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav {
  max-width: 99%;
  background-color: #2e742b;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.navigation {
  list-style: none;
  font-family: "Boogaloo", sans-serif;
  font-weight: 50;
  padding: 0;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.navigation li:first-child {
  display: block;
}

.navigation a.ham::before {
  content: "≡ ";
}

.navigation a:hover {
  cursor: pointer;
  --d: 75%;
  background-color: #700070;
  border-radius: 25px;
}

header,
main,
footer {
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

main {
  max-width: 99%;
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 5em;
  padding-bottom: 0.25em;
  background-color: #700070;
  font-family: "Anybody", sans-serif;
}

.FreshFooter {
  margin-top: -5em;
}

#contact_resources {
  background-color: #c585f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  text-align: left;
}

#contact_info {
  text-align: center;
}

iframe {
  padding: 15px;
}

.footer_info,
.footer_info2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.footer_info p {
  font-size: 20px;
  color: white;
  margin-top: 8px;
  margin-left: -5em;
  font-family: "Boogaloo", sans-serif;
  text-align: center;
}

.footer_info2 p {
  font-size: 20px;
  color: white;
  margin-top: 28px;
  margin-left: -5em;
  font-family: "Boogaloo", sans-serif;
  text-align: center;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 1em;
}

#cards section {
  color: white;
  background-color: #f28500;
  margin: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

#cards section img {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #333333;
  max-width: 90%;
}

.action {
  color: lavenderblush;
  background: radial-gradient(limegreen, #2e742b);
  border: 1px solid black;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0 0 20px #333333;
  width: 200px;
  text-align: center;
}

.action button {
  font-family: "Boogaloo", sans-serif;
  height: 35px;
  color: lavenderblush;
  background-color: red;
  font-size: 20px;
}

.action button:hover {
  cursor: pointer;
  background: radial-gradient(purple, #c585f7);
}

.social {
    width: 300px;
    margin-top: 10px;
    margin-left: 40em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid blue;
  visibility: hidden;
}

#TableH3, #TableHR {
  visibility: hidden;
}

th {
  color: white;
  background-color: #700070;
  padding: 8px;
}

td {
  background-color: white;
  border-bottom: 1px solid black;
  border: 1px solid black;
}

.Headers {
  background-color: rgb(15, 6, 94);
}

#grey,
#grey2,
#grey3 {
  border: 1px solid #dddddd;
  background-color: #dddddd;
}

.weather div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weather p {
  margin-top: -0.5em;
  font-size: 15px;
}

#temperature,
#chill,
#humidity {
  font-weight: 600;
}

.weather div p {
  margin-top: 5px;
  margin-right: 15px;
  font-size: 20px;
}

@media only screen and (min-width: 57em) {
  .navigation {
    display: flex;
  }
  
  fieldset {
    width: 850px;
  }
  
  input, select {
    border-radius: 5px;
    height: 25px;
  }
  
  #Fruit1 {
    margin-top: 5px;
  }
  
  #additional {
    margin-top: 5px;
    border-radius: 5px;
    width: 825px;
    height: 80px;
  }

  .action {
    position: absolute;
    top: 25em;
    right: 0;
    left: 4em;
  }

  nav ul li {
    flex: 1 1 auto;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  nav a {
    font-size: 1rem;
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
  }

  article:nth-child(3) {
    grid-column: span 2;
  }

  main picture {
    display: block;
  }

  main picture img {
    width: 100%;
    height: auto;
    border: 1px solid black;
  }
}
