@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: "Righteous", sans-serif;
}

div {
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

main {
  text-align: center;
  margin-bottom:15px;
}

.cards {
  color:white;
}

.cards section {
    background-color: black;
    margin: 5px;
    border: 3px solid skyblue;
}
